.container-services {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding-top: 20px;

}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1400px;
  max-height: 894px;
  overflow: auto;
  padding-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 350px;
  margin-bottom: 10px;
  position: relative;
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  overflow: hidden;
  font-size: 14px;
  cursor: default;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 30px 0px rgba(4, 0, 0, 0.952);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(147, 7, 7, 0.88);
}

.card img {
  max-width: 100px;
  max-height: 150px;
}

.title {
  text-align: center;
  color: #0f0f0f;
  font-size: 55px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-family: "Josefin", sans-serif;
}
.subtitle {
  text-align: center;
  color: #c00113;
  font-size: 55px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-family: "Josefin", sans-serif;
}
.card h3{
   font-size: 20px;
  color: #000000;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Josefin", sans-serif;
  text-align: center;
}
.card p {
  font-size: 20px;
  color: #555;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Josefin", sans-serif;
  text-align: center;
}


@media (max-width: 768px) {
  .container-services {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
  }

  .container-cards {
    flex-direction: column;
    padding: 10px ;
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 0 50px;
    border: none;
  }

  .card {
    width: 100%;
    max-width: 550px;
    min-width: 200px;
    min-height: 300px;
    max-height: 350px;
    height: 90%;
    margin-bottom: 20px;
    padding: 20px 50px;
    box-shadow: 0px 5px 30px 0px rgba(4, 0, 0, 0.336);
  }

  .title {
display: none;
  }

  .subtitle{
    font-style: 8px;
    height: 180px;
  }
}
