.container-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:   column;
  background: white;
}
.img-contact {
  width: 40px;
  height: 40px;
  object-fit: fill;
}
.h2{
  color: #a70000;
  font-size: 22px;
  font-weight: 800;
}