.container-contact {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-color: whitesmoke;
  gap: 50px;
  padding: 50px;
  margin-top: 50px;
  background-image: url(./../../assets/logos/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
  position: relative;
}
.container-main-contact {
 
  text-align: center;
  background-color: rgba(3, 3, 3, 0.63);
  height: 60vh;
  border-radius: 2%;
   justify-content: center;
    align-items: center;
}
.container-contact h1 {
  color: #a70000;
  font-size: 58px;
  font-family: "Josefin", sans-serif;
}
.container-contact h3 {
  font-size: 48px;
  font-family: "Josefin", sans-serif;
}

.section-data-contact {
  width: 100%;
  max-width: 1200px;
  gap: 50px;
  padding: 20px;
  font-size: 16px;
  justify-content: space-between;
  padding-top: 50px;
}
.img-contact {
  max-width: 42px;
  height: 42px;
  object-fit: fill;
  margin-right: 20px;
}
.img-email {
  width: 32px;
  height: 32px;
}
.h2 {
  color: #a70000;
  font-size: 32px;
  font-weight: 800;
  text-align: start;
}
span p {
  font-size: 22px;
  font-family: "Josefin", sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: white;
}
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-input {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
label {
  display: flex;
  flex-direction: column;
}
input {
  height: 55px;
  border-radius: 1%;
  padding-left: 20px;
}
input::placeholder {
  font-size: 22px;
}
.input-500px {
  width: 501px;
}

.input-1030px {
  width: 1030px;
}
.phone-p {
  text-align: start;
}
.email-p {
  text-align: start;
}
textarea {
  width: 1030px;
  height: 120px;
  resize: none;
  border-radius: 1%;
}
textarea::placeholder {
  padding-top: 50px;
  text-align: center;
  font-size: 22px;
}
form button {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  height: 50px;
  background-color: #a70000;
  color: white;
  font-size: 28px;
  font-family: "Josefin", sans-serif;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 1120px) {
  .section-data-contact {
    max-width: 100%;
    padding: 2rem;
    gap: 2rem;
    font-size: 1rem;
    padding-top: 3rem;
  }

  .img-contact {
    max-width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .img-email {
    width: 1.6rem;
    height: 1.6rem;
  }

  .h2 {
    font-size: 2rem;
  }

  span p {
    font-size: 1.4rem;
  }

  .container-form {
    gap: 2rem;
  }

  form {
    gap: 1rem;
  }

  .container-input {
    flex-direction: column;
    gap: 1rem;
  }

  .input-500px {
    width: 50%;
  }

  .input-1030px {
    width: 100%;
  }

  .phone-p,
  .email-p {
    text-align: center;
  }

  textarea {
    width: 80vw;
    height: 8rem;
  }

  textarea::placeholder {
    padding-top: 8rem;
    text-align: center;
    font-size: 1.6rem;
  }

  form button {
    max-width: 20rem;
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 660px) {
  .container-contact {
    max-width: 550px;

    display: flex;
    position: relative;
    min-height: 320px;
  }
  .container-main-contact h1 {
    display: none;
  }
  .container-main-contact {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
  min-width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0;  background-color: rgba(3, 3, 3, 0.63);

  }
  .section-data-contact {
    display: flex;
    flex-direction: column;
    max-width: 550px;
  }

  .img-contact {
    max-width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .img-email {
    width: 1.6rem;
    height: 1.6rem;
  }

  .h2 {
    font-size: 2rem;
    color: white;
  }

  span p {
    font-size: 1.4rem;
    text-align: start;
    font-weight: 900;
    font-style: oblique;
    font-size: x-large;
    color: #550505
  }

  .container-form {
    gap: 2rem;
  }

  form {
    gap: 1rem;
  }
  .h3 {
    color: rgb(148, 0, 0);
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .container-input {
    flex-direction: column;
    gap: 1rem;
  }

  .input-500px {
    width: 100%;
    max-width: 550px;
  }

  .input-1030px {
    width: 100%;
    max-width: 550px;
  }

  .phone-p,
  .email-p {
    text-align: start
  }

  textarea {
    width: 80vw;
    height: 8rem;
  }

  textarea::placeholder {
    padding-top: 8rem;
    text-align: center;
    font-size: 1.6rem;
  }

  form button {
    max-width: 20rem;
    font-size: 2.4rem;
  }
}
