.footer {
  display: flex;
  flex-direction: column;
  height: 450px;
  font-family: "Josefin", sans-serif;
  font-variant: small-caps;
  padding: 50px;
  margin: 0 auto;

  color: white;

  background-image: url(./../../assets//logos/footer.jpg);
  background-size: cover;
  background-position: 0%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap:50px
}
span p{
  color:#c00113
}
footer img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
