
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;

}
body {
  background-color: rgb(13, 13, 13);
}
main {
  background-image: url(./assets/kisspng-van-fiat-ducato-fiat-automobiles-fiat-strada-2017-fiat-500-abarth-5b1c02751300f1.4264419515285622930779.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
section {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
main::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.about-us {
  height: 1020px;
}