
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;

}
body {
  background-color: rgb(13, 13, 13);
}

/* body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
main::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: transparent;
} */

section {
  max-width: 1990px;
  max-height: 1080px;
  width: 100vw;
  height: 100vh;
}
header{
  min-height: 150px;
}
a {
  text-decoration: none;
}

