ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link-to {
  text-decoration: none;
  color: inherit;
}

a {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.5px;
  padding-right: 0;
  padding-left: 15px;
  font-family: "Anton", sans-serif;
}
a:hover {
  color: rgb(255, 0, 0);
}
