
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link-to {
  text-decoration: none;
  color: inherit;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  color: #000;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
}

.nav-links.open li {
  display: block;
}

a {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1.5px;
  padding-right: 0;
  padding-left: 15px;
  font-family: "Josefin",  sans-serif; 
}

.home {
  color: #c00113;
  
}
li{
  height: 50px;
  padding: 10px;
}
li:hover {
  transform: scale(1.05);
}

.contact {
  background: #c00113;
  border-radius: 2px;
  padding-right: 15px ;
  color: #fff ;
}

@media (max-width: 768px) {
  .nav-links li {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .nav-links li {
    display: block;
  }
}

.container-X {
  display: inline-block;
  transition: transform 1s;
  vertical-align: middle;
}

.container-X:hover {
  transform: rotate(360deg);
}
